.details {
    padding-left: 1em;
}

.details h3 {
    color: var(--tg-theme-button-color);
}

.details .img-details {
    width: 40%;
    border-radius: 12px;
}

.details .descriptions {
    color: var(--tg-theme-hint-color);
}