.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item {
    margin-right: 10px;
    margin-bottom: 10px;
}


.ico {
    height: 25%;
    width: 25%;
    background: var(--tg-theme-secondary-bg-color);
}