.button-23 {
    padding: 10px 15px;
    background: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
    border: none;
    outline: none;
    cursor: pointer;
}


/* CSS */
.button-test{
    background-color: var(--tg-theme-button-color);
    border-radius: 1px;
    box-sizing: border-box;
    color: var(--tg-theme-button-text-color);
    cursor: pointer;
    display: inline-block;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    margin: 0;
    outline: none;
    padding: 13px 23px;
    position: relative;
    text-align: center;
    text-decoration: none;
    touch-action: manipulation;
    transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
    user-select: none;
    -webkit-user-select: none;
    width: auto;
}

.button {
    border-radius: 10px;
    text-decoration: none;
    margin-top: .5em;
    margin-bottom: .1em;
    margin-right: 1em;
    color: var(--tg-theme-button-text-color); 
    padding: .5em .5em .5em .5em;
    background-color: var(--tg-theme-button-color);

    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    white-space: nowrap;
    border-color: var(--tg-theme-button-color);
}

.button:focus-visible {
    box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
    transition: box-shadow .2s;
}

.button:active {
    background-color: var(--tg-theme-button-color);
    border-color: var(--tg-theme-button-text-color);
    transform: scale(.96);
}

.button:disabled {
    border-color: var(--tg-theme-button-color);
    color: var(--tg-theme-button-color);
    cursor: not-allowed;
    opacity: 1;
}