.profile {
    margin-left: 1em;
}

.orders {
    border-radius: 10px;
    text-decoration: none;
    margin-top: .5em;
    margin-bottom: .1em;
    margin-right: 1em;
    color: var(--tg-theme-button-text-color); 
    padding: .5em .5em .5em .5em;
    background-color: var(--tg-theme-button-color);
    margin-bottom: 3em;
}