.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
}

.input {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    border-radius: 12px;
}

select {
    padding: 10px;
    margin-top: 15px;
    border-radius: 12px;
}

option {
    background-color: var(--tg-theme-bg-color);
}
