.topic {
    margin-left: 1em;
}

.product {
    display: flex;
    flex-direction: column;
    /* border: 1px solid var(--tg-theme-button-color); */
    padding: .7em;
    width: 170px;
    border-radius: 12px;
    background-color: var(--tg-theme-secondary-bg-color);
    /*  */
    margin-right: 1em;
    margin-bottom: 1em;
}


.img {
    /* width: 100%; */
    height: 100px;
    margin: 0 auto;
    background: var(--tg-theme-secondary-bg-color);
    border-radius: 12px;
}

.product .title {
    background: var(--tg-theme-secondary-bg-color);
}
.product .title h4{
    background: var(--tg-theme-secondary-bg-color);
}

.product .description {
    color: var(--tg-theme-hint-color);
    background: var(--tg-theme-secondary-bg-color);
}

.product .price {
    background: var(--tg-theme-secondary-bg-color);
}
.product .price b {
    background: var(--tg-theme-secondary-bg-color);
}

/*.description{
    font-size: 0.8em;
    color: var(--tg-theme-hint-color);
    background: var(--tg-theme-secondary-bg-color);
}*/

.add-btn {
    width: 50%;
}
.counter {
    background: var(--tg-theme-bg-color);
    color: var(--tg-theme-color);
}
.tag {
    padding-left: 1em;
}

.ico {
    height: 25%;
    width: 25%;
    background: var(--tg-theme-bg-color);
}

.details {
    text-decoration: none;
    background-color: var(--tg-theme-secondary-bg-color);
}
/* background: var(--tg-theme-bg-color); */