.product {
    display: flex;
    flex-direction: column;
    /* border: 1px solid var(--tg-theme-button-color); */
    padding: .7em;
    width: 170px;
    border-radius: 12px;
    background-color: red;
    /* var(--tg-theme-secondary-bg-color) */
}


.img {
    /* width: 100%; */
    height: 100px;
    margin: 0 auto;
    /* background: var(--tg-theme-button-color); */
    /* background-color: var(--tg-theme-secondary-bg-color); */
}

.description .title .price{
    font-size: 0.8em;
    color: var(--tg-theme-hint-color);
    /* background-color: var(--tg-theme-secondary-bg-color); */
}



.add-btn {
    width: 100%;
}

.tag {
    padding-left: 1em;
}