@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700;800&family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);


}

li a {
  border-radius: 10px;
  border-color: var(--tg-theme-button-hover-color);
  text-decoration: none;
  margin-bottom: 1em;
  margin-left: 1em;
  color: var(--tg-theme-text-color);

  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  white-space: nowrap;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex; /* Располагаем элементы в ряд */
  overflow-y: hidden; /* Добавляем скролл, если контент не помещается */
}