@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700;800&family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);


}

a {
  background-color: var(--tg-theme-button-color);
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
  color: var(--tg-theme-text-color);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex; /* Располагаем элементы в ряд */
}